@model Employer


<div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th><h1>Employer: @Model.Name</h1></th>
            </tr>
        </thead>
        <tr>
            <td>Name: @Model.Name</td>
        </tr>
        <tr>
            <td>Location: @Model.Location</td>
        </tr>
    </table>
</div>
